html,body,ul,li{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
}
hr{
	margin: 5px;
}
div.header{
	width: 1345px;
	height: 32px;
	background-color: #E3E4E5;
	padding-left: 280px;
	color: gray;
	font-size: 12px;
	margin-bottom: 1px;
	float: left;
	
}
.nav-left{
	float: left;
}
.header #dizhi{
	line-height: 32px;
	position: relative;
	text-align: center;	
	width: 60px;
}
#dizhilist{
	position: absolute;
	left: -1px;
	background-color: white;
	width: 300px;
	display: none;
	z-index: 300;
}
#dizhilist table tr td{
	border: none;
	width: 60px;
    padding: 0 5px;
	text-align: center;
}
#dizhi .glyphicon-map-marker{
	color: red;
}
.register{
	color: red;
	
	
}
#menu{
	float: left;
	margin-left: 10px;
	padding-left: 190px;
}
#menu ul #tou{
	float: left;
    margin: 0 13px;
	line-height: 32px;
	border:1px solid #E3E4E5;
	border-bottom:none;
}
.myjd{
	position: relative;
}
.myjd span:hover{
	color: firebrick;
	cursor: pointer;
}
#myjdlist{
	background-color: white;
	position: absolute;
	left: -1px;
	width: 200px;	
	padding: 5px 0;
	display: none;
	z-index: 300;
}
#myjdlist li{
	height: 30px;
	padding: 0 10px;
}
.khfw{
	position: relative;
}
.khfw span:hover{
	color: firebrick;
	cursor: pointer;
}
#khfwlist{
	background-color: white;
	position: absolute;
	left: -98px;
	width: 160px;	
	padding: 5px 0;
	display: none;
	z-index: 300;
}
#khfwlist li{
	height: 30px;
	padding: 0 10px;
}
.wzdh{
	position: relative;
}
.wzdh td:hover{
	color: firebrick;
	cursor: pointer;
}
#wzdhlist{
	position: absolute;
	padding: 5px 20px;
	left: -1048px;
	width: 1190px;
	background-color: white;
	z-index: 100;
	display: none;	
	z-index: 300;
}
#wzdhlist div{
	float: left;
}
#wzdhlist div:nth-of-type(2){
	padding-left: 35px;
	border-left: 1px solid gray;
}
#wzdhlist div:nth-of-type(3){
	padding-left: 35px;
	border-left: 1px solid gray;
}
#wzdhlist div:nth-of-type(4){
	padding-left: 35px;
	border-left: 1px solid gray;
}
#wzdhlist table tr td{
	border: none;
	width: 80px;
}
.sjjd{
	position: relative;
}
#sjjdlist{
	position: absolute;
	left: -149px;
	width: 200px;
	height: 300px;
	background-color: white;
	display: none;
	z-index: 300;
}
#sjjdlist #erwei{
	margin: 10px 0;
	width: 200px;
	height: 80px;
	padding-left: 5px;
}
.erweixx{
	padding-left: 5px;
	float: left;
}
.erweixx div{
	height: 25px;
	line-height: 25px;
}
#red{
	color: red;
}
#red2{
	color: red;
	height: 16px;
	line-height: 16px;
}
.erweima1{
	float: left;
	width: 78px;
	height: 78px;
	border: 2px solid gray;
	background: url(../images/59a51cafNca78ca43.png) no-repeat;
	background-size: 100% 100%;
}
.erweima2{
	background: url(../images/5874a54dNcec29924.jpg) no-repeat;
	background-size: 100% 100%;
}
.erweima3{
	background: url(../images/5874a555Ne8192324.jpg) no-repeat;
	background-size: 100% 100%;
}
.jixin{
	width: 80px;
	height: 30px;
	background-image: url(../images/erweimajixin.png);
}
#menu .glyphicon-chevron-down{
	font-size: 10px;
}
#login:hover{
	color: firebrick;
	cursor: pointer;
}
#register:hover{
	color: firebrick;
	cursor: pointer;
}
#menu #hei:hover{
	color: firebrick;
	cursor: pointer;
}

div.main{
	background-color: #F6F6F6;
	padding: 0 80px;
}
.main #mainnav{
	width: 1190px;
	height: 173px;
}
.main #logo{
	width: 192px;
	height: 173px;
	background-image: url(../images/logo.v3.jpg);
	position: relative;
	top: -33px;
	float: left;
	box-shadow: 0px 0px 5px gray;
}
.main #shuru{
	width: 550px;
	height: 35px;
	float: right;
	position: absolute;
	top: 60px;
	left: 400px;
}
#xiangji{
	background-color: white;
	position: absolute;
	top: 60px;
	left: 860px;
	width: 40px;
	height: 35px;
	background-image: url(../images/sprite-photo-search.png);
	background-repeat: no-repeat;
	background-position: 12px 10px;
	border: 1px solid red;
	border-left: none;
}
#sou{
	position: absolute;
	top: 60px;
	left: 900px;
	width: 50px;
	height: 35px;
	background-color: red;
	color: white;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
}
#tisi{
	position: absolute;
	top: 95px;
	left: 400px;
	width: 500px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: gray;
}
#tisi ul li{
	float: left;
	margin-right: 9px;
}
#gouwuche{
	background-color: white;
	position: absolute;
	top: 60px;
	left: 980px;
	width: 190px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: red;
	font-size: 13px;
	border: 1px solid gainsboro;
}
sup{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	line-height: 15px;
	background-color: red;
	color: white;
	position: absolute;
	left: 145px;
	top: 4px;
}
#gouwuchelist{
	width: 310px;
	height: 70px;
	position: absolute;
	top: 95px;
	left: 860px;
	background-color: white;
	border: 1px solid gainsboro;
	border-top: none;
	z-index: 300;
	display: none;
}
#gouimg{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	background-image: url(../images/gouwuche-wu.png);
}
#gouxx{
	line-height: 20px;
	color: gainsboro;
	width: 235px;
	height: 60px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
#shurukuang{
	height: 35px;
	width: 460px;
	border: 1px solid red;
	border-right: none;
}
#er{
	width: 68px;
	height: 68px;
	border: 1px solid gray;
	text-align: center;
	line-height: 62px;
	position: absolute;
	top: 32px;
	left: 1200px;
}
#dadaohang{
	position: absolute;
	left: 310px;
	top: 133px;
	height: 40px;
	width: 700px;
	font-size: 18px;
	line-height: 40px;
	
}
#dadaohang ul li{
	margin-right: 26px;
	float: left;
}
#dadaohang li:hover{
	color: firebrick;
	cursor: pointer;
}#tisi li:nth-of-type(1){
	color: red;
}
#tisi li:hover{
	color: firebrick;
	cursor: pointer;
}
#fuping{
	position: absolute;
	left: 1070px;
	top: 125px;
	width: 200px;
	height: 40px;
	background-image: url(../images/59a92a40Nd745c511.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.main #mainlunbo{
	width: 1190px;
	height: 482px;
	position: relative;
}
#lunboleft{
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 192px;
	height: 482px;
	background-color: #6E6558;
}
#lunboleft ul{
	color: white;
	padding-top: 16px;
}
#lunboleft ul li{
	line-height: 28px;	
	padding-left: 12px;
}
#lunboleft ul li a{
	color: white;
}
#lunbotu{
	position: absolute;
	top: 0;
	left: 200px;
	width: 790px;
	height: 482px;
}
.lunbotu-m{
	width: 790px;
	height: 340px;
	position: relative;
	z-index: 100;
}
.im{width:790px;height: 340px; 
	
	}
.left{
	background:darkgray;
	width:30px;
	height: 60px;
	position: absolute;
	left:0px;
	top:140px;
	line-height: 60px;
	text-align: center;
	opacity: 0.3;
	cursor: pointer;
	}
.right{
	background:darkgray;
	width:30px;
	height: 60px;
	position: absolute;
	right:0px;
	top:140px;
	line-height: 60px;
	text-align: center;
	opacity: 0.3;
	cursor: pointer;
	}
.jiantou{
	opacity: 0.3;
	line-height: 60px;
	text-align: center;
	width:30px;
	height: 60px;
	color:white;
	font-size: 30px;
	display: none;
	z-index: 99;
	cursor: pointer;
	}
.im img{
	width:790px;height: 340px;
	position: absolute;
	opacity: 0;
	transition: all 2s;
	z-index: 0;
	}
.lunbotu-m .in li{
	background-color:white;
	float:left;
	width:12px;
	height: 12px;
	margin: 4px;
	padding: 0;
	border-radius: 50%;
	text-align: center;
    cursor: pointer;
    font-size: 10px;
	}
.lunbotu-m .in .on{
	background-color: red;
	}
.in{
	background:lightgray;
	position: absolute;
	left: 311px;
	bottom: 15px;
	margin:0 auto;
	padding: 0;
	border-radius: 50px;
	width:162px;
	z-index:200;
	}
.lunbotu-m:hover .jiantou{
	display: block;
	}

#lunbotu-l,#lunbotu-r{
	margin-top: 13px;
	float: left;
	width: 390px;
	height: 130px;
}
#lunbotu-l{
	background-image: url(../images/59b2863dN31788d37.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#lunbotu-r{
	margin-left: 10px;
	background-image: url(../images/59a9376cNac51779b.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#duolist li:hover{
	background-color: #999395;
}
#duolist li a:hover{
	color: red;
	cursor: pointer;
}
.ying{
	background:#F7F7F7;
	position: absolute;
	left: 192px; 
	z-index: 300;
	box-shadow: 0px 0px 5px gray;	
    }
.ying div{
	width:999px;
	height: 482px;
	
	}
#lunboright{
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	width: 192px;
	height: 482px;
	
}
#lunboright1{
	width: 192px;
	height: 115px;
	background-color: #FFFFFF;
	margin-bottom: 2px;
}
#lrup{
	width: 192px;
	height: 70px;
	padding: 12px;
}
#lrupimg{
	float: left;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 2px solid gold;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
}
#lrupimg img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
#lrupxx{
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 60px;
	font-size: 12px;
}
#lrupxx span:hover{
	color: red;
	cursor: pointer;
}
#lrdown{
	padding-left: 12px;
}
#lrdown div{
	float: left;
	width: 75px;
	height: 23px;
	border: 2px solid firebrick;
	color: firebrick;
	margin-right: 10px;
	line-height: 23px;
	text-align: center;
}
#lrdown div:hover{
	color: white;
	background-color: firebrick;
	cursor: pointer;
}
#lunboright2{
	width: 192px;
	height: 155px;
	background-color: #FFFFFF;
	margin-bottom: 2px;
}
#lrtab{
	padding: 3px 5px;
}
#lrtab li{
	display: inline-block;
	width: 30px;
	cursor: pointer;
}
#lrtab span{
	float: right;
	cursor: pointer;
}
#lrtab span:hover{
	color: firebrick;
}
#lrcontent ul{
	padding: 5px;
	display: none;
}
#lrcontent ul li:hover{
	color: firebrick;
	cursor: pointer;
}
#huakuai{
	width: 25px;
	height: 2px;
	margin-left: 8px;
	background-color: firebrick;	
}
@keyframes hua{
	0%{margin-left: 8px;}
	100%{margin-left: 45px;}
}
@keyframes huaa{
	0%{margin-left: 45px;}
	100%{margin-left: 8px;}
}
#lunboright3{
	width: 192px;
	height: 208px;
}
#lunboright3 table tr td .xuebi{
	text-align: center;
	width: 46px;
	height: 67.4px;
	margin: 1px;
	background-color: #FFFFFF;
	padding-top: 8px;
}
#lunboright3 table tr td .xuebi div{
	width: 22px;
	height: 30px;
	margin-left: 12px;
}
#lunboright3 #xuebi-1 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -2px 63px;
}
#lunboright3 #xuebi-2 div{
	
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -2px 107px;
}
#lunboright3 #xuebi-2{
	position: relative;
}
#lunboright3 #xuebi-2 #jian{
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 18px;
	background-image: url(../images/sprite_index@1x.png);
	background-position: -111px 125px;
	color: white;
	line-height: 12px;
	font-size: 11px;
}
#lunboright3 #xuebi-3 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -46px 63px;
}
#lunboright3 #xuebi-3{
	position: relative;
}
#lunboright3 #xuebi-3 #jian{
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 18px;
	background-image: url(../images/sprite_index@1x.png);
	background-position: -111px 125px;
	color: white;
	line-height: 12px;
	font-size: 11px;
}
#lunboright3 #xuebi-4 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -90px 151px;
}
#lunboright3 #xuebi-5 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -90px 107px;
}
#lunboright3 #xuebi-6 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -2px 150px;
}
#lunboright3 #xuebi-7 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -46px 107px;
}
#lunboright3 #xuebi-8 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -90px 63px;
}
#lunboright3 #xuebi-9 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -134px 151px;
}
#lunboright3 #xuebi-10 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -134px 107px;
}
#lunboright3 #xuebi-11 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -134px 63px;
}
#lunboright3 #xuebi-12 div{
	background-image: url(../images/sprite_fs@1x.png);
	background-position: -46px 150px;
}
#lunboright3 p:hover{
	color: firebrick;
	cursor: pointer;
}
#mainjdms{
	height: 300px;
	width: 1190px;
	margin: 20px 0;
	
}
#mainjdmsup{
	height: 55px;
	width: 1190px;
	background-image: url(../images/seckill_hd.png);
	position: relative;
}
#mainjdmsdown{
	height: 245px;
	width: 1190px;
	background-color: #FFFFFF;
	
}

#sanjiao{
	float: left;
	width: 25px;
	height: 25px;
	background-image: url(../images/sprite_index@1x.png);
	background-position: -193px 137px;
}
#miaobiao{
	float: left;
	width: 55px;
	height: 55px;
	background-image: url(../images/sprite_index@1x.png);
	background-position: -210px 155px;
}
#neiron{
	float: left;
	height: 55px;
	line-height: 55px;
	color: white
}
#neiron span:nth-of-type(1){
	font-size: 26px;
}
#neiron span:nth-of-type(2){
	cursor: pointer;
}
#yuanjt{
	float: left;
	margin-top: 25px;
	width: 25px;
	height: 25px;
	background-image: url(../images/sprite_index@1x.png);
	background-position: -150px 148px;
	cursor: pointer;
}
#daojishi{
	position: absolute;
	top: 0;
	right: 20px;
	height: 55px;
	width: 300px;
	color: white;
	line-height: 55px;
}
#daojishi .jiachu{
	font-size: 25px;
	font-weight: 700;
}
#daojishi #h,#m,#s{
	background-color: #440106;
	padding: 3px;
	border-radius: 4px;
	color: red;
}
.maohao{
	color: #440106;
}

#mainjdmsdown #lunbo2{
	float: left;
	width: 1000px;
	height: 240px;
	overflow: hidden;
	position: relative;
}
#lunbo2-1{
	display: inline-block;
	position: absolute;
	width: 1990px;
	height: 230px;
	
}
#kuang{
	float: left;
	width: 199px;
	height: 230px;
	padding: 12px;
}
#lb2img{
	float: left;
	width: 180px;
	height: 150px;
	margin: 2px auto;
	background-color: yellow;
	background-image: url(../images/58eb558aN17ba3de4.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}
#lb2img:hover{
	transform: translateY(-10px);
}
#lb2img-1{
	float: left;
	width: 180px;
	height: 150px;
	margin: 2px auto;
	background-color: yellow;
	background-image: url(../images/58b137d1Na10a7425.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}
#lb2img-1:hover{
	transform: translateY(-10px);
}
#kuang span{
	font-size: 20px;
	color: red;
}
#kuang p{
	font-size: 13px;
	color: gray;
}
#kuang p:hover{
	color: firebrick;
	cursor: pointer;
}
#kuang del{
	font-size: 13px;
	color: gray;
}
.jian{
	opacity: 0.3;
	line-height: 60px;
	text-align: center;
	width:30px;
	height: 60px;
	color:white;
	font-size: 30px;
	display: none;
	z-index: 99;
	cursor: pointer;
}
.left-btn{
	position: absolute;
	top: 85px;
	left: 0;
	background-color: gray;
}
.right-btn{
	position: absolute;
	top: 85px;
	right: 0;
	background-color: gray;
	
}
#mainjdmsdown #lunbo3{
	margin: 5px;
	float: left;
	width: 180px;
	height: 225px;
	background-image: url(../images/59b12320Nf9149157.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#mainfxhh{
	height: 444px;
	width: 1190px;
	margin: 20px 0;
}
#mainfxhh .mf{
	float: left;
	height: 444px;
	width: 390px;
	
}
#mainfxhh .mf:nth-of-type(1){
	margin-right: 10px;
}
#mainfxhh .mf:nth-of-type(2){
	margin-right: 10px;
}
#mainfxhh #mainfxhh-1up{
	height: 55px;
	width: 390px;
	background-image: url(../images/seckill_hd.png);
}
#mainfxhh #mainfxhh-1down{
	height: 389px;
	width: 390px;
	background-color: #FFFFFF;
}

#mainljzx{
	height: 270px;
	width: 1190px;
	background-color: orangered;
	margin: 20px 0;
}
#hengtiao{
	height: 100px;
	width: 1350px;
	background-color: orangered;
	margin: 20px 0;
}
#mainxpz{
	width: 1190px;
	height: 600px;
	background-color: orangered;
	margin: 20px 0;
}
div.footer{
	background-color: #EAEAEA;
	width: 100%;
	height: 500px;
}


.xuanfuhead{
	width: 1345px;
	height: 50px;
	border-bottom: 3px solid red;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 20000;
	display: none;
}
.logo-2{
	float: left;
	margin-left: 80px;
	width: 140px;
	height: 46px;
	background-image: url(../images/logov2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}
.xie{
	float: left;
	margin-left: 250px;
	width: 550px;
	height: 50px;
	line-height: 50px;
	
}
.xie #xiangji{
	background-color: white;
	position: absolute;
	top: 8px;
	left: 930px;
	width: 40px;
	height: 35px;
	background-image: url(../images/sprite-photo-search.png);
	background-repeat: no-repeat;
	background-position: 12px 10px;
	border: 1px solid red;
	border-left: none;
}
.xie #sou{
	position: absolute;
	top: 8px;
	left: 970px;
	width: 50px;
	height: 35px;
	background-color: red;
	color: white;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
}

.cebianlan{
	height: 676px;
	width: 100px;
	border-right: 5px #7A6E6E solid;
	position: fixed;
	top: 0;
	right: 0;	
}
#cebianlan-1{
	height: 220px;
	width: 30px;
	position: absolute;
	right: 0;
	top: 240px;
}
#cebianlan-2{
	height: 74px;
	width: 30px;
	position: absolute;
	right: 0;
	bottom: 8px;
}
.xiaokuai{
	width: 30px;
	height: 30px;
	background-color: #7A6E6E;
	margin: 1px 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	color: white;
	text-align: center;
	line-height: 30px;
	background-image: url(../images/toolbars.png);
}
.jl1{
	background-position: -88px 175px;
}
.jl2{
	background-position: -50px -2px;
}
.jl3{
	background-position: -49px 300px;
}
.jl4{
	background-position: -49px 248px;
}
.jl5{
	background-position: -189px 198px;
}
.jl6{
	background-position: -49px 198px;
}
.jl7{
	background-position: -48px 99px;
}
.jl8{
	background-position: -48px 49px;
}

.xiaokuai:hover{
	cursor: pointer;
	background-color: firebrick;
}
.dakuai{
	height: 30px;
	width: 60px;
	background-color: #7A6E6E;
	color: white;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	line-height: 30px;
	display: none;
	cursor: pointer;
}
.dk1{
	position: absolute;
	top: 1px;
	right: 26px;
}
.dk2{
	position: absolute;
	top: 32px;
	right: 26px;
}
.dk3{
	position: absolute;
	top: 63px;
	right: 26px;
}
.dk4{
	position: absolute;
	top: 94px;
	right: 26px;
}
.dk5{
	position: absolute;
	top: 125px;
	right: 26px;
}
.dk6{
	position: absolute;
	top: 156px;
	right: 26px;
}
.dk7{
	position: absolute;
	top: 1px;
	right: 26px;
}
.dk8{
	position: absolute;
	top: 32px;
	right: 26px;
}

.youcebian{
	width: 35px;
	height: 500px;
	position: fixed;
	left: 10px;
	top: 90px;
	display: none;
}
.youcebian ul li{
	text-align: center;
	margin: 1px 0;
	background-color: #918888;
	color: white;
	cursor: pointer;
}
.youcebian ul li:hover{
	background-color: firebrick;
}
.youcebian ul li:nth-of-type(1){
	background-color: firebrick;
}
.youcebian ul li:nth-of-type(12){
	background-color: #5E4A4A;
}